
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c0deed;
    font-family: 'Open Sans', sans-serif;
}

.flex-container {
    
    display: flex;
    flex-wrap: wrap;
    margin:0;  
    padding:0;
}

main {
    position: relative;
    margin: 20px;  
    padding:0;
    flex: 3;
    display: block;
    color: gray;
}   

main> article {
    margin: 20px;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: lightcyan;
}

nav {
    display: block;
    margin:0;  
    padding:0;
    flex: 1.2;
    min-width: 100px;
    background-color: #0084b4;
    color: white;
    border-right: 2px solid whitesmoke;
    min-height: 450px;
    height: 100vh;
  
}

nav>header {
    margin:0;
    padding: 10px;
    text-align: center;
}

nav>header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h1 {
    margin:0;
    font-size: 20px;
}

h2 {
    padding:0;
    margin: 10px;
    font-size: 18px;
}

h3 {
    padding: 0;
    margin:5px;
    font-size: 14px;
}

footer {
    padding: 15px 0 5px 0;
    text-align: center;
    font-size: 10px;
    color: gray;
    font-weight: bolder;
    position: absolute;
   
    bottom: 0;
    width:100%;
    
}

@media screen and (max-width: 700px) {
    .flex-container {   
        flex-direction: column;
    }

}

/* Style the top navigation bar */
.navbar {
    display: block;
    flex-direction: column;
}

/* Style the navigation bar links */
.navbar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    
    color: white;
    font-weight: bold;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #1dcaff;
}

.navbar a.selected {
    background-color: #1dcaff;

}

article img {
    margin: 10px;
    float:right;
    max-width: 100%;
    max-height: 120px;
    border-radius: 5%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin: 200px auto auto auto;

  animation: spin 2s linear infinite;
}

h2 {
    text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards section {
    padding: 10px;
    display: block;
    width: 20%;
    background-color: white;
    border-radius: 5px;
    margin: 20px 20px;
}
.cards section img {
    width:100%; 
    border-radius: 1px;
 
}